:root {
  --clr-primary-400: hsl(256, 26%, 20%);
  --clr-primary-200: hsl(216, 30%, 68%);

  --clr-neutral-900: hsl(270, 9%, 17%);
  --clr-neutral-400: hsl(273, 4%, 51%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  --ff-accent: "DM Serif Display", sans-serif;
  --ff-base: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-base);
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: var(--ff-accent);
  color: var(--clr-primary-400);
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--ff-accent);
  color: var(--clr-primary-400);
}

.grayish-violet {
  color: var(--clr-neutral-400);
  overflow-wrap: break-word;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
ul {
  list-style-type: none;
}

a[href] {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

img {
  width: 100%;
}

header {
  background-color: var(--clr-primary-400);
  margin-top: 3rem;
  padding-bottom: 6rem;
}
header .intro h1 {
  color: var(--clr-neutral-100);
}
header .intro p {
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--clr-neutral-100);
}
.intro {
  margin-top: 4rem;
}
.view-plans {
  margin-top: 3rem;
}
.view-plans a[href] {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 0.66rem;
  padding-top: 0.66rem;
  border-top: 3px solid var(--clr-neutral-100);
  border-left: 3px solid var(--clr-neutral-100);
  border-bottom: 3px solid var(--clr-neutral-100);
  border-right: 3px solid var(--clr-neutral-100);
}

main {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.main-div {
  margin-bottom: 4rem;
}
.icon-1 {
  margin-bottom: 1.5rem;
  width: 20%;
}
.main-div-1 {
  margin-bottom: 2rem;
}
.main-div-2 {
  margin-bottom: 2rem;
}

.how-we-work {
  background-color: var(--clr-primary-400);
  padding-bottom: 6rem;
  padding-top: 6rem;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
}
.how-we-work span {
  color: var(--clr-neutral-100);
  font-family: var(--ff-accent);
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 1px;
}
.logo-icons {
  margin-top: 7rem;
}
.logo-2 {
  width: 20%;
}
.icon-2 {
  width: 20px;
}

footer {
  margin-top: 4rem;
}
.footer-1 {
  margin-bottom: 2rem;
}
.footer-2 {
  margin-bottom: 2rem;
}
.footer-3 {
  margin-bottom: 2rem;
}
.footer-4 {
  margin-bottom: 2rem;
}
.class-list {
  line-height: 30px;
  color: var(--clr-neutral-900);
  font-weight: bolder;
}

@media screen and (min-width: 1486px) {
  .navbar {
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  a[href] {
    text-decoration: none;
    color: var(--clr-neutral-400);
  }
  a[href] span {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 0.66rem;
    padding-top: 0.66rem;
    border-top: 3px solid var(--clr-neutral-900);
    border-left: 3px solid var(--clr-neutral-900);
    border-bottom: 3px solid var(--clr-neutral-900);
    border-right: 3px solid var(--clr-neutral-900);
  }
  .navbar ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .navbar ul li {
    margin-left: 20px;
  }
  img {
    width: 20%;
  }
  .header-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header .intro h1 {
    font-size: 3.8rem;
  }
  header .grayish-violet {
    font-size: 16px;
  }
  .image-intro {
    width: 50%;
  }

  main {
    margin-bottom: 6rem;
    margin-top: 9rem;
  }
  main h1 {
    display: flex;
    justify-content: left;
    margin-left: 2rem;
  }
  .main-division {
    display: flex;
    margin-bottom: 6rem;
  }
  .how-we-work {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display: flex;
    justify-content: space-between;
  }
  .how-we-work span {
    font-size: 3rem;
    margin-left: 2rem;
  }
  .how-we-work .view-plans {
    margin-right: 2rem;
  }
  .logo-icons {
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
  }
  .logo-2 {
    width: 50%;
    text-align: start;
    margin-left: 2rem;
  }
  .logo-icons-2 {
    font-size: 2rem;
    margin-right: 2rem;
  }
  footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .footer-1 {
    margin-left: 3.7rem;
  }
  .footer-4 {
    margin-right: 5rem;
  }
  .grayish-violet {
    font-size: 16px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
